.dropdown {
  z-index: 1;
  top: 2.5rem;
  width: 8rem;
  position: absolute;
  background-color: var(--sidebar-bg);
  color: var(--main-fg);
  box-shadow: 0 0 10px #00000030; 
  border: 1px solid var(--bg-lighten);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  user-select: none;
  backdrop-filter: blur(10px);
}
.dropdown > div {
  cursor: pointer;
  padding: 0.3rem;
}
.dropdown > div:hover {
  background-color: var(--bg-lighten);
}

#filemenu {
  display: none;
  left: 4.8rem;
}

#editmenu {
  display: none;
  left: 8rem;
}