:root {
  --editor-bg: #000;
  --bg-darken: #000;
  --bg-lighten: #000;
  --main-fg: #fff;
  --newtab-stroke: #000;
  --sidebar-bg: #000;
  --highlight: #000;
}
#editorbox {
  position: absolute;
  top: 3rem;
  left: 20rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: var(--editor-bg);
  animation: moveright 200ms;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000030;
  border: 1px solid var(--bg-lighten);
}
#editor { 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1em;
  font-size: 16px;
  font-family: 'JetBrains Mono';
}
#tabbar {
  position: absolute;
  top: 0rem;
  left: 20rem;
  right: 0;
  height: 2.5rem;
  line-height: 2rem;
  color: var(--main-fg);
  pointer-events: none;
  display: flex;
  animation: tabright 200ms;
}
#tabbar > * {
  pointer-events: all;
}
#tabbar > .tab {
  border-radius: 5px;
  width: 8rem;
  box-sizing: border-box;
  padding-inline: 0.5rem;
  margin-top: 0.5rem;
  user-select: none;
  transition: all 200ms;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
  border: 1px solid var(--bg-lighten);
}
#tabbar > .tab.active {
  background-color: var(--editor-bg);
  box-shadow: 0 0 10px #00000030;
}
#tabbar > .tab.inactive {
  background-color: var(--bg-darken);
}
#tabbar > .tab.unsaved::before {
  font-family: "FontAwesome";
  content: "\f304";
  font-size: 12px;
  padding-right: 0.5rem;
}
#newtab {
  margin-top: 0.5rem;
  width: 2rem;
  padding: 0.25rem;
  cursor: pointer;
  order: 1;
}
#newtab > svg {
  stroke: var(--newtab-stroke);
  transition: stroke 100ms;
}
#newtab:hover > svg {
  stroke: var(--main-fg);;
}
#sidebar {
  position: absolute;
  top: 2.5rem;
  left: 0;
  bottom: 0;
  width: 16rem;
  border-radius: 0 0 0 5px;
}
#activity-bar {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 3.75rem;
  background: var(--sidebar-bg);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.625rem;
  box-sizing: border-box;
  gap: 0.625rem;
  box-shadow: 0 0 10px #00000030; 
  border: 1px solid var(--bg-lighten);
}
.activity-button {
  all: unset;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--main-fg);
  border-radius: 5px;
  transition: background-color 200ms;
  cursor: pointer;
}
.activity-button:hover {
  background-color: var(--highlight);
}
#settingsbtn {
  margin-top: auto;
}
/* Responsiveness */
@media only screen and (max-width: 800px) {
  #editorbox {
    animation: moveleft 200ms;
    border-radius: 5px;
    left: 0.5rem;
  }
  #tabbar {
    animation: tableft 200ms;
    left: 9rem;
  }
}
/* -------------- */
/* Animations */
@keyframes moveleft {
  from {left: 20rem;} 
  to {left: 0.5rem;}
}
@keyframes moveright {
  from {left: 0.5rem;} 
  to {left: 20rem;}
}
@keyframes tableft {
  from {left: 20rem;} 
  to {left: 9rem;}
}
@keyframes tabright {
  from {left: 9rem;} 
  to {left: 20rem;}
}
/* ---------- */