@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
  background: none;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--bg-darken);
  border-radius: 10px;
}
#titlebar {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  user-select: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding-inline-start: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--main-fg);
  border-radius: 10px 10px 0 0;
}
#titlebox {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
#title {
  pointer-events: none;
}
.titlebtn {
  cursor: pointer;
  padding: 0.2em;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  line-height: 24px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 120ms;
}
.titlebtn:hover {
  background-color: var(--highlight);
}
#win-buttons {
  display: none;
  position: absolute;
  right: 0rem;
  top: 0;
}
#win-buttons > div {
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  transition: background-color 100ms;
}
#win-buttons > div:nth-child(3) {
  border-radius: 0 10px 0 0;
}
#win-buttons > div:nth-child(1):hover, #win-buttons > div:nth-child(2):hover {
  background-color: #ffffff22;
}
#win-buttons > div:nth-child(3):hover {
  background-color: #e33636;
}
#mac-buttons {
  display: none;
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  height: 1.5rem;
  gap: 0.5rem;
  align-items: center;
  user-select: none;
}
#mac-buttons > div {
  width: 0.75rem;
  height: 0.75rem;
  line-height: 9px;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
}
#mac-buttons > * > i {
  color: #00000080;
  font-size: 10px;
  opacity: 0;
}
#mac-close {
  background-color: #ff605c;
  border: #cc4d4a 0.5px solid;
}
#mac-minimize {
  background-color: #ffbd44;
  border: #cc9736 0.5px solid;
}
#mac-maximize {
  background-color: #00ca4e;
  border: #00a23e 0.5px solid;
}
#mac-buttons:hover > * > i {
  opacity: 1;
}